@keyframes fadeInOut {

    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
} 

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
    
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes fadeInGrow {
    from {
        transform: scale(2);
        opacity: 0;
    }
    
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeInSmall {
    from {
        opacity: 0;
    }
    
    to {
        transition: ease-in 1s;
        transition-delay: 2s;
        opacity: 1;
    }
}