#contactTitle{
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: rgb(51,51,51);
    background-color: rgb(80,80,80);
    text-shadow: .5px .5px 5px rgba(0, 0, 0, 0.26);
    height: 120px;
}

#contactContainer{
    // display: flex;
    justify-content: flex-end;
    width: 100%;

    #logos{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 100%;

        
        #githubLogo{
            margin-left: 50px;
            width: 50px;
            height: 50px;
            margin-right: 100px;
            
            &:hover{
                opacity: .5;
            }
        }
        #emailLogo{
            margin-left: 50px;
            margin-right: 100px;
            width: 60px;
            height: 50px;
            
            &:hover{
                opacity: .5;
            }
        }
        #linkedinLogo{
            margin-left: 50px;
            margin-right: 50px;
            width:60px;
            height: 60px;

            &:hover{
                opacity: .5;
            }
        }
    }
    #emailSection{
        position: relative;

        #emailCopied{
            position: absolute;
            left: 10px;
            font-size: small;
            font-weight: bold;
            color: rgb(0,143,81);
            text-align: center;
        }
        #checkmark{
            position: absolute;
            width: 15px;
            left: -15px;
            bottom: -28px;
        }
    }

    #footer{
        // width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: medium;
        margin: 20px;
    }

}
