<<<<<<< HEAD
@import '../keyframes/keyframes.scss';
=======
@import '../../keyframes/keyframes.scss';
>>>>>>> f72406dcf8a76409e4202357e1ad1025b88f4742

.middleBox{
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
    width: 35%;
    height: 400px;

    #myName{
        font-size: medium;
        text-align: left;
        margin-bottom: 0px;
        color: rgb(29,155,209);
        animation: fadeInUp 2s;
    }
    
    #description{
        visibility: hidden;
        text-align: left;
        margin-top: 0px;
        animation: fadeInUp 2s;
        animation-delay: 1s;
    }
    
    #otherDescription{
        visibility: hidden;
        margin: 0px;
        font-size: small;
        animation: fadeInUp 2s;
        animation-delay: 2s;
    }
    
    #quote{
        font-style: italic;
    }
    
    #contactMeButton{
        visibility: hidden;
<<<<<<< HEAD
=======
        animation: fadeInUp 2s;
        animation-delay: 3s;
>>>>>>> f72406dcf8a76409e4202357e1ad1025b88f4742
        font-family: 'Arsenal';  
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 2px;
        font-weight: 600;
        font-size: medium;
        margin-top: 15px;
        padding-bottom: 5px;
        animation: fadeInUp 2s;
        animation-delay: 3s;

        &:hover{
            background-color: rgb(29,155,209);
            color: white;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
        }
    }
}