.middleBox{
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
    width: 35%;
    height: 400px;
    // border: 1px solid red;

    #myName{
        font-size: medium;
        text-align: left;
        margin-bottom: 0px;
        color: rgb(29,155,209);
    }
    
    #description{
        text-align: left;
        margin-top: 0px;
    }

    #otherDescription{
        margin: 0px;
        font-size: small;
    }

    #quote{
        font-style: italic;
    }

    #contactMeButton{
        font-family: 'Arsenal';  
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 2px;
        font-weight: 600;
        font-size: medium;
        margin-top: 15px;
        padding-bottom: 5px;

        &:hover{
            background-color: rgb(29,155,209);
            color: white;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.315);
            text-decoration: underline;
        }
    }
}