.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    transition: background-color .25s;

    #logo{
        width: 80px;
        height:80px;
        // margin-top: 10px;
        margin-left: 10px;
    }

    .linksContainer{
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        height: 90%;
        margin-right: 30px;

        .links{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            color: white;
            text-decoration: none;
            font-size: 16px;

            &:hover{
                color: rgb(29,155,209);
                border-bottom: 2px solid rgb(29,155,209);
                font-weight: bold;
                transform: scale(1.1);
            }
        }
    }
}