.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
<<<<<<< HEAD
    transition: background-color .25s;
    z-index: 2;
=======
    // transition: background-color .25s;
    z-index: 1;
>>>>>>> f72406dcf8a76409e4202357e1ad1025b88f4742

    #logo{
        width: 80px;
        height:80px;
        margin-left: 30px;

        &:hover{
            cursor: pointer;
        }
    }

    .linksContainer{
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        height: 90%;
        margin-right: 30px;

        .links{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            color: white;
            text-decoration: none;
            font-size: 16px;

            &:hover{
                color: rgb(29,155,209);
                border-bottom: 2px solid rgb(29,155,209);
                font-weight: bold;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}