#projectsTitle{
    font-size: 100px;
    color: rgb(80,80,80);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    z-index: 1;
    visibility: hidden;
}

#projectsContainer{
    display: flex;
    flex-direction: row;
    // box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    background-color: rgb(80,80,80);
    z-index: 1;
    
    .projectsSections{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-right: 1px solid #333333;
        width: 100%;
        height: 100%;
        padding: 20px;
        
        .projectTitle{
            text-align: center;
            margin: 10px 0px 0px;
            font-size: 40px;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
        }
        
        .projectDescription{
            font-size: large;
            line-height: 30px;
        }
        
        
        .wallpapers{
            width: 70%;
            height: 300px;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);

            &:hover{
                opacity: .5;
            }
        }

        .pictureLink{
            display: flex;
            justify-content: center;
        }
    }
}