.Website {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  scroll-behavior: smooth;

  #myPicture{
    animation: fadeInUp 2s;
    position: absolute;
    background-size: cover;
    width: 55%;
    z-index: 0;
    top: 0px;
    right: 5%;
    // animation: fadeInUp 2s;
}

  .websiteMiddle{
    width: 70%;
  }
}


